/* CSS/pago.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-color: #fff;
    background-size: cover;
}

.container {
    background-color: #fa0303;
    color: #ebeaea;
    padding: 30px;
    position: fixed;
    top: -0;
    width: 100%;
}

.contanierrr {
    background-color: #090909;
    color: #801a1a;
    padding: 50px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center; /* Alinea el texto al centro */
}

.containerr {
    background-color: #f90303;
    color: #ebeaea;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    margin: 20px; 
    color: #0b0b0b;
    padding: 5px 1px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f3f3;
}

#resumen-pago {
    text-align: center;
    padding: 40px 0;
}

#resumen-pago ul {
    list-style: none;
    padding: 0;
}

#resumen-pago li {
    margin-bottom: 10px;
}

#resumen-pago p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#resumen-pago form {
    margin-top: 20px;
}

#resumen-pago button {
    background-color: #ed0a0a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#resumen-pago button:hover {
    background-color: #f30808;
}
